<ion-header>
	<ion-navbar>
		<ion-title>
			<ion-icon name="ios-information-circle-outline"></ion-icon>
			<span style="padding-left: 10px;">Info</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="custom-fab" *ngIf="params.app.conteudos.length">
		<button class="custom-fab-button" [ngClass]="{'active': fabActive}" (click)="fabActive = !fabActive">
			<ion-icon [ngStyle]="{'transform': fabActive ? 'rotate(45deg)' : null }" name="add"></ion-icon>
		</button>
		<div class="custom-fab-list">
			 <div style="display: flex" *ngIf="fabActive" [@slideAnimation]>
				 <button class="custom-fab-item" *ngFor="let c of params.app.conteudos" (click)="changeTopic(c)">{{c.titulo}}</button>
		 	</div>
		</div>
	</div>

	<img [src]="content.imagem" style="width: 100%" cache *ngIf="content.imagem" />
	<div padding *ngIf="content.titulo">
		<h1>{{content.titulo}}</h1>
		<div [innerHTML]="content.texto" *ngIf="content.texto"></div>
	</div>
</ion-content>
