<ion-header>
	<ion-navbar>
		<ion-title>
			<ion-icon name="md-paper"></ion-icon>
			<span style="padding-left: 10px;">Notícias</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<img [src]="n.imagem" style="width: 100%" cache />
	<div padding>
		<h1 style="margin-top: 0px;">{{n.titulo}}</h1>
		<div [innerHTML]="n.descricao"></div>
	</div>
</ion-content>
