<ion-header>
	<ion-navbar>
		<ion-title>
			<ion-icon name="ios-book-outline"></ion-icon>
			<span style="padding-left: 10px;">Agenda</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<img [src]="a.imagem" style="width: 100%" cache />
	<div padding>
		<div class="date">
			<span class="day">{{getDayName(a.hora)}}</span>
			<span class="date">{{getDate(a.hora)}}</span>
		</div>
		<h3>{{a.titulo}}</h3>
		<i>{{a.local}}</i>
		<div style="margin-top: 20px">
			<div *ngFor="let e of a.events">
				<div class="hour">{{getHour(e.hora)}}</div>
				<span>{{e.titulo}}</span><i style="padding-left: 5px; color: #555;">{{e.local}}</i>
			</div>
		</div>
	</div>
</ion-content>
