page-agenda_details{
	div.date{
		font-weight: 700;
		border-bottom: 2px solid color($colors, primary);
		color: color($colors, primary);
	}
	div.date > span.day{
		font-size: 16px;
	}
	div.date > span.date{
		font-size: 12px;
		border-left: 2px solid color($colors, primary);
		margin-left: 5px;
		padding-left: 10px;
	}

	div.hour{
		border-bottom: 2px solid color($colors, primary);
		color: color($colors, primary);
		font-weight: 700;
		margin-top: 15px;
		margin-bottom: 5px;
	}
}
