<ion-tabs selectedIndex="0" color="primary">
	<ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="ios-home-outline" [rootParams]="params"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Notícias" tabIcon="md-paper" [rootParams]="params"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Agenda" tabIcon="ios-book-outline" [rootParams]="params"></ion-tab>
	<ion-tab [root]="tab4Root" tabTitle="Info" tabIcon="ios-information-circle-outline" [rootParams]="params"></ion-tab>
</ion-tabs>
