<ion-header>
	<ion-navbar>
		<ion-title>
			<ion-icon name="ios-book-outline"></ion-icon>
			<span style="padding-left: 10px;">Agenda</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list *ngFor="let a of params.agenda" (tap)="details(a)">
		<ion-item>
			<div class="date">
				<span class="day">{{getDayName(a.hora)}}</span>
				<span class="date">{{getDate(a.hora)}}</span>
			</div>
			<div class="content-title">{{a.titulo}}</div>
			<i class="content-local">{{a.local}}</i>
			<img [src]="a.imagem" item-right *ngIf="a.imagem" style="max-width: 150px" cache />
		</ion-item>
	</ion-list>
</ion-content>
