page-agenda{
	div.date{
		font-weight: 700;
		border-bottom: 2px solid color($colors, primary);
		color: color($colors, primary);
	}
	div.date > span.day{
		font-size: 16px;
	}
	div.date > span.date{
		font-size: 12px;
		border-left: 2px solid color($colors, primary);
		margin-left: 5px;
		padding-left: 10px;
	}
	div.content-title{
		padding-top: 20px;
		font-size: 12px;
		font-weight: 700;
	}
	i.content-local{
		font-size: 12px;
	}
}
