<ion-content>
	<div class="custom-fab" *ngIf="params.app.conteudos.length">
		<button class="custom-fab-button" [ngClass]="{'active': fabActive}" (click)="fabActive = !fabActive">
			<ion-icon [ngStyle]="{'transform': fabActive ? 'rotate(45deg)' : null }" name="add"></ion-icon>
		</button>
		<div class="custom-fab-list">
			<div style="display: flex" *ngIf="fabActive" [@slideAnimation]>
				<button class="custom-fab-item" *ngFor="let cb of params.app.conteudos" [ngClass]="{'active': cb.titulo == c.titulo}" (click)="cb.titulo != c.titulo ? changeTopic(cb) : null">{{cb.titulo}}</button>
			</div>
		</div>
	</div>
	<img [src]="t.imagem" style="width: 100%" cache *ngIf="t.imagem" />
</ion-content>
