page-home{
	ion-list{
		padding: 0px;
		margin: 0px;
	}
	ion-list > ion-item, ion-list > ion-label, ion-list .item-inner{
		padding: 0px !important;
		margin: 0px !important;
	}
	div.slide{
		max-height: 305px;
		border-bottom: 3px solid map-get($colors, primary);
		overflow: hidden;
	}
	.title{
		display: block;
		overflow: hidden;
		color: #000;
		padding: 10px;
		text-align: left;
		font-size: 14px;
		height: 50px;
		text-overflow: ellipsis;
	}
	.event-image{
		width: 100%;
		box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1);
		z-index: 1;
	}
	.event-title{
		display: table;
		width: 100%;
		margin-top: -3px;
		text-transform: uppercase;
	}
	.event-title div.event-date{
		position: relative;
		display: table-cell;
		background-color: #e25d4e;
		color: #FFF;
		width: 35%;
		padding: 8px 10px 10px 50px;
		z-index: -1;
	}
	.event-title div.event-date::after{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: "";
		background-image: url("../assets/images/arrow.png");
		background-repeat: no-repeat;
		background-position: bottom;
		background-position: left;
		opacity: 0.5;
	}
	.event-title div.event-date div.day{
		font-size: 18px;
		font-weight: 700;
	}
	.event-title div.event-date div.date{
		font-size: 14px;
		font-weight: 300;
	}
	.event-title div.event-title{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		padding: 10px 20px;
		width: 65%;
	}
	.event-title div.event-title .event-title-title{
		font-size: 18px;
		font-weight: 700;
	}
	.event-title div.event-title .event-title-price{
		font-size: 16px;
	}
}
