<ion-content>
	<div class="slide">
		<ion-slides autoplay="3000" loop="true">
			<ion-slide *ngFor="let n of params.news" (tap)="details(n)">
				<div class="title">{{n.titulo}}</div>
				<img [src]="n.imagem" style="width: 100%" cache />
			</ion-slide>
		</ion-slides>
	</div>
	<div *ngFor="let e of events" (tap)="eventDetails(e)">
		<img [src]="e.imagem" class="event-image" cache />
		<div class="event-title">
			<div class="event-date">
				<div class="day">{{getDayName(e.hora).split('-')[0]}}</div>
				<div class="date">{{getDate(e.hora)}}</div>
			</div>
			<div class="event-title">
				<span class="event-title-title">
					<span>{{e.titulo.split(' | ')[0]}}</span>
					<span *ngIf="e.titulo.split(' | ').length > 1"> | </span>
				</span>
				<span class="event-title-price">{{e.titulo.split(' | ')[1]}}</span>
			</div>
		</div>
	</div>
</ion-content>
