$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #FE2E64,
  secondary:  #25cbd3,
  complement:  #337ab7,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$fab-mini-size: 70px;

@import "ionic.theme.default";
@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
$fa-font-path: $font-path;
@import "font-awesome";

ion-header > ion-navbar > div.toolbar-background{
	background-color: color($colors, secondary);
	border-color: color($colors, complement);
}
ion-header > ion-navbar > div.toolbar-content > ion-title > div.toolbar-title{
	color: #FFF;
}

ion-label{
	white-space: normal !important;
}
ion-header > ion-navbar > button.back-button{
	color: #FFF;
}
ion-slides{
	height: auto !important;
}

div.custom-fab{
	position: absolute;
	z-index: 999;
	top: 10px;
	right: 10px;
	width: calc(100% - 20px);
	z-index: 1;
}
div.custom-fab button.custom-fab-button{
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	display: table-cell;
	border-radius: 200px;
	background-color: map-get($colors, primary);
	padding: 10px;
	color: #FFF;
	font-size: 28px;
	text-align: center;
	vertical-align: middle;
	height: 60px;
	width: 60px;
	z-index: 1;
}
div.custom-fab button.custom-fab-button.active{
	background-color: #FFF;
	color: map-get($colors, primary);
}
div.custom-fab div.custom-fab-list{
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 10px;
	max-width: calc(100% - 5px);
	padding-right: 20px;
	display: flex;
}
div.custom-fab div.custom-fab-list button.custom-fab-item{
	cursor: pointer;
	display: flex;
	float: left;
	color: #FFF;
	background-color: map-get($colors, primary);
	height: 40px;
	padding: 10px 15px;
	font-size: 12px;
	text-transform: uppercase;
	text-overflow: ellipsis;
}
div.custom-fab div.custom-fab-list button.custom-fab-item.active{
	background-color: #FFF;
	color: map-get($colors, primary);
}
div.custom-fab div.custom-fab-list button.custom-fab-item:first-child{
	border-radius: 15px 0px 0px 15px;
}
div.custom-fab div.custom-fab-list button.custom-fab-item:last-child{
	border-radius: 0px 15px 15px 0px;
	padding-right: 35px;
}
