<ion-header>
	<ion-navbar>
		<ion-title>
			<ion-icon name="md-paper"></ion-icon>
			<span style="padding-left: 10px;">Notícias</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div *ngFor="let n of params.news" (tap)="details(n)">
		<img [src]="n.imagem" style="width: 100%" cache />
		<div class="news-title">{{n.titulo}}</div>
	</div>
</ion-content>
