page-news{
	ion-list{
		padding: 0px;
		margin: 0px;
	}
	ion-list > ion-item, ion-list > ion-label, ion-list .item-inner{
		padding: 0px !important;
		margin: 0px !important;
	}
	.news-title{
		border-top: 1px solid #F9F9F9;
		border-bottom: 1px solid #F9F9F9;
		background-color: color($colors, complement);
		color: #FFF;
		padding: 7px;
		font-weight: 700;
		margin-top: -3px;
	}
}
