page-loading {
	ion-content{
		background-color: map-get($colors, primary) !important;
	}
	img{
		margin-top: calc(40% - 83px);
		margin-left: calc(50% - 83px);
	}
	div.spinner{
		display: block;
		clear: both;
		text-align: center;
		margin-top: 20px;
	}
}
