<ion-header>
	<ion-navbar>
		<ion-title>
			<ion-icon name="ios-information-circle-outline"></ion-icon>
			<span style="padding-left: 10px;">Info</span>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-tabs color="secondary">
		<ion-tab [root]="tab1Root" *ngFor="let t of c.tabs" tabTitle={{t.titulo_tab}} [rootParams]="{ t: t, params: params, c: c }"></ion-tab>
	</ion-tabs>
</ion-content>
